@import url("https://fonts.googleapis.com/css2?family=Economica&family=Grape+Nuts&family=Roboto:wght@100;300;400;700;900&display=swap");

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

:root {
    --p1: pink;
    --p2: seagreen;
    --p3: cornflowerblue;
    --p4: black;
}

header {
    background-color: #4b4b4b;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    box-sizing: border-box;
}

.priority-filter {
    display: flex;
    flex-direction: row;
    background-color: #3d3d3d;
    height: 60px;
    margin-left: 40px;
}

.priority-filter .box {
    height: 40px;
    width: 60px;
    margin: 10px;
    cursor: pointer;
    box-sizing: border-box;
}

.priority-filter .box:hover {
    border: 2px solid #ffffff;
}

.priority-filter .box.p1 {
    background-color: var(--p1);
}
.priority-filter .box.p2 {
    background-color: var(--p2);
}
.priority-filter .box.p3 {
    background-color: var(--p3);
}
.priority-filter .box.p4 {
    background-color: var(--p4);
}

.quick-action {
    display: flex;
    flex-direction: row;
    background-color: #3d3d3d;
    height: 60px;
    margin-left: 50px;
}

.quick-action .icon {
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
    padding:0 10px;
    display: flex;
    align-items: center;
}

.quick-action .icon.add {
    color: white;
}

.quick-action .icon.delete {
    color: red;
}

.quick-action .icon:hover {
    background-color: greenyellow;
}

main h1 {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px 0px;
}

.modal {
    width: 50vw;
    height: 50vh;
    background-color: #dfe4ea;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    display: flex;
    z-index: 1;
}

.modal .left-section { 
    width: calc(100% - 80px);
    display: flex;
    height: 100%;
}

.modal .right-section {
    width: 80px;
    display: flex;
    height: 100%;
    background-color: #4b4b4b;
}

.modal .left-section textarea {
    width: 100%;
    background-color: transparent;
    padding: 10px;
}

.modal .priority-filter {
    flex-direction: column;
    margin-left: 0px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.modal .priority-filter .box.selected {
    border: 1px solid #ffffff;
}


.modal .right-section {
    position: relative;
    padding-top: 10px;
    box-sizing: border-box;
}

.modal .right-section .close {
    position: absolute;
    right: -10px;
    top: -10px;
    color: red;
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(180, 176, 176, 0.8);
    border-radius: 50%;
    padding: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
}

.hide {
    display: none;
}

.ticket-section {
    display: flex;
    padding: 15px;
    gap: 15px;
    flex-wrap: wrap;
}

.ticket-container {
    width: 200px;
    min-height: 100px;
    background-color: #ccc;
}

.ticket-container .ticket-priority {
    display: flex;
    height: 20px;
}

.ticket-container .ticket-priority.p1{
    background-color: var(--p1);
}

.ticket-container .ticket-priority.p2{
    background-color: var(--p2);
}

.ticket-container .ticket-priority.p3{
    background-color: var(--p3);
}
.ticket-container .ticket-priority.p4{
    background-color: var(--p4);
}


.ticket-container .ticket-id {
    display: flex;
    height: 30px;
    background-color: yellow;
}
.ticket-container .ticket-content {
    display: flex;
    height: 100px;
}

.ticket-container .ticket-content textarea {
    display: flex;
    width: 100%;
    background-color: transparent;
    border: none;
    resize: none;
    outline: none;
    padding: 5px;
}

.ticket-container {
    position: relative;
}

.ticket-container .ticket-lock {
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}

.ticket-container .ticket-lock .fa-lock-open {
    display: block;
}

.ticket-container .ticket-lock .fa-lock {
    display: none;
}

.ticket-container .ticket-lock.locked .fa-lock-open {
    display: none;
}

.ticket-container .ticket-lock.locked .fa-lock {
    display: block;
}