<!-- views/blogDetail.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Blog</title>
</head>
<body>
  <h1><%= blog.title %></h1>
  <p><%= blog.description %></p>
  <p>Author: <%= blog.authorName %></p>
  <h1><img src=<%= blog.image %> /></h1>
</body>
</html>
